.carousel {
    background-color: transparent;
    color: #fff;
    width: 100%;
}

.box {
    background-color: lightgreen;
    height: 263px;
    width: 210px;
}


.box h3 {
    text-align: center;
}



.slick-prev {
    background-color: rgb(0, 0, 0);
}



.slick-prev:before,
.slick-next:before {
    color: rgb(170, 164, 164) !important;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 0 !important;
}