.footer {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    background-color: #2e96d6;
    background-size: cover;
    padding-bottom: 5px;
    margin-top: 5%;
}

.footer-logo {
    height: 70px;
    width: auto;
}

.logo-container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.button-container {
    display: flex;
    justify-content: space-around;
    padding: 8px 10px 8px 10px;
    border-radius: 20px;
    border: 1px solid white;
    position: absolute;
    left: 50%;
    margin-top: 110px;
    transform: translateX(-50%);
    width: 400px;
    height: 60px;
}


.button-txt {
    font-family: "Sansation-Bold", sans-serif;
    color: white;
    height: 38px;
    width: 189px;
}

.button-list {
    background-color: #FFFFFF;
    color: #787878;
    border: 1px solid;
    border-color: white;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-family: "Sansation-Bold", sans-serif;
    font-size: 16px;
    width: 168px;
    height: 38px;
    margin-top: 8px;
}




.line {
    width: 100%;
    height: 0px;
    background-color: rgb(196, 196, 196);
    margin-top: 137px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.links {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 50px;
}

.textlinks {
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.socialmedia {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    gap: 18px;
    margin-right: 50px;
    color: white;
    cursor: pointer;
}

.sicon {
    font-size: 24px;
}

.copyright {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.copywrite-txt {
    color: white;
    font-size: 13px;
}

.textlinks:hover {
    color: #cbcbcb;
}

.sicon:hover {
    color: #cbcbcb;
}